.THIS .tdStyle {
    border-top:1px solid #00008B;
    background-color: #DADADA;
}
.THIS .borderStyle {
    border-top:3px solid #00008B;
    
}
.THIS .textdecoration{
    border-top:3px solid #00008B;
    color:#00008B;
}